.privacy {
  position: relative;
  width: 100%;
  /* height: auto; */
  /* margin: 1.5em 0; */
  margin-bottom: 1em;
  background: rgb(245, 245, 245);
}

.policy_h1 {
  color: #9ca;
}

.privacy_title h1 {
  user-select: none;
  margin: 1em auto;
  width: 90%;
  text-align: left;
  font-weight: 600;
}
