.category_content {
  position: relative;
  width: 1400px;
  /* background: #000; */
  margin: 5em auto;
  display: flex;
}

.category_filter {
  position: relative;

  width: 260px;
}

.category_filter_head {
  position: relative;
  width: 260px;
  height: 21px;

  display: flex;
  justify-content: flex-start;
}

.section {
  position: relative;
  width: 260px;
  /* height: 204px; */
}
.categories {
  margin-top: 1.5em;
  /* background: deeppink; */
}

.category_filter_head h2 {
  position: absolute;
  top: -1.2em;
  left: 1em;
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
}

.fa {
  font-size: 30px;
}

.catogory_product {
  position: relative;
  /* width: 820px; */
  /* height: 980px; */
  /* background: blue; */
}

.product_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 320px 320px;
  column-gap: 20px;
}

.product_item {
  display: flex;
  list-style-type: none;
  position: relative;
  width: 550px;
  height: 300px;
  border-radius: 15px;
}

.content {
  z-index: 1;
  color: #fff;
  transition: 0.5s;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
  width: 100%;
  /* padding: 0 1em; */
  white-space: pre-wrap;
  position: relative;
}

.heart {
  position: absolute;
  top: 1.5em;
  left: 6.2em;
  z-index: 1;
  cursor: pointer;
}

.content_detail {
  position: relative;
  width: 300px;
  height: 100%;
  left: 16em;
  /* background: #000; */
}

.content_name {
  position: absolute;
  top: 1em;
  left: 0;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  line-height: 32px;
  /* font-family: "Montserrat", sans-serif; */
  /* background: #000; */
}

.content_price {
  position: absolute;
  top: 5em;
  left: 0;
  font-size: 1em;
  font-weight: 600;
  color: #777777;
}

.content_price p {
  height: 115px;
  /* background: #000; */

  display: -webkit-box;
  
  overflow: hidden;
  text-align: justify;

  text-overflow: ellipsis;
  line-clamp: 3;

  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.product_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  /* background: rgb(247, 244, 244); */

  border-radius: 15px;
  transition: 0.5s;
}

.img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 200px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.btn {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  line-height: 45px;
  max-width: 180px;
  position: relative;
  left: -5em;
  top: 16em;
  width: 100%;
  border: none;
  font-family: "Krona One", sans-serif;
}

.btn:focus {
  outline: none !important;
}

.btn_1 {
  background: darken(#e1332d, 1.5%);
  background: transparent;
  font-weight: 100;
}

.btn_1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn_1 rect {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn_1:hover {
  letter-spacing: 1px;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn_1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 340;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.link {
  color: #000;
  z-index: 100;
}

/* label */
.remember {
  position: relative;
  left: -10px;
  /* margin: 20em 0 0 0; */
  width: 100%;
  padding: 0 2em;
}

.section h2 {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.remember label {
  margin-left: 2em;
  cursor: pointer;
  /* color: #999; */
  color: #2e2e2e;
  font-size: 1.2em;
  font-weight: 900;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}
.remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.remember .checkmark {
  position: absolute;
  top: 0;
  left: 2em;
  height: 20px;
  width: 20px;
  background-color: #eee;
  cursor: pointer;
}

.remember .checkmark::after {
  content: "\f00c";
  position: absolute;
  font-family: fontAwesome;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4a0a2;
  opacity: 0;
  visibility: hidden;

  transition: all 0.2s ease-in-out 0s;
}

.remember input:checked ~ .checkmark::after {
  opacity: 1;
  visibility: visible;
}

.breacrumb_category {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: 50px;
  /* background: #000; */
  margin: 0 auto;
}

.breacrumb_category span {
  color: #000;
  font-family: "Krona One", sans-serif;
}

.categories_null{
  position: absolute;
  top: 200px;
  left: 300px;
  /* transform: translateY( -50%); */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-weight: 600;
}

.filter_btn{
  position: relative;
  width: 100px;
  height: 30px;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px ;
  background: #000;
  font-weight: 600;
  color: #fff;
}
