.notifyPage{
    width: 100%;
    display: block;
    /* display: flex;
    justify-content: center; */
}

.disable_notify{
    width: 100%;
    display: none;
    /* display: flex;
    justify-content: center; */
}

.notify_container{
    width: 1190px;
    /* border: 1px solid red; */
}

.notify_header{
    border-bottom: 3px solid #0d7e97;
}

.notify_list{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(209, 216, 224, 0.2);
    
}

.notify_item{
    width: 900px;
    height: 100px;
    /* border: 1px solid blue; */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #999; */
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 5%), 5px 5px 10px rgb(0 0 0 / 10%);
}

.notify_item_icon{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green{
    background-color: #26de81;
}

.blue{
    background-color: #45aaf2;
}

.red{
    background-color: #fc5c65;
}

.notify_item_icon i{    
    color: white;
}


.notify_item_content{
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.content_header{
    font-size: 20px;
    font-weight: 600;
}

.content_body{
    font-size: 15px;
    font-weight: 600;
    color: #777;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.notify_null{
    /* background: #000; */
    width: 600px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notify_null span{
    font-weight: 600;
}